@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}


<div class="text-center">
    <h2>Quality Lens</h2>


    <form method="post" enctype="multipart/form-data">
        <div class="mt-1">
            <input asp-for="ImageFile" type="file" />
            <span asp-validation-for="ImageFile"></span>
        </div>
        <button class="btn btn-primary mt-5 " type="submit">Analizar</button>
    </form>

    <div class="mt-5">
        <img class="img-fluid" src="@TempData["ImagePath"]" width="250" height="250" />
    </div>
    <div class="mt-1">

        <p>@TempData["calidad"]</p>
    </div>
</div>